################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/bin/Debug/net10.0-windows10.0.19041.0
/obj
/Properties
